<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Android_nougat_source_setup&#xd;
&#xd;
매주 금요일 22:00 trigger됨.&#xd;
workspace 하위 디렉토리의 android_nougat_* 의 모든 dir 삭제 후 새로 받은 source를 copy&#xd;
&#xd;
&lt;&lt; project list &gt;&gt;&#xd;
android_nougat_s5p4418_weekly --&gt; navi ref&#xd;
android_nougat_s5p6818_weekly --&gt; avn ref&#xd;
&#xd;
android_pie 를 연속으로 진행함. 소요시간 약 3시간</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>TZ=Asia/Seoul
H(0-1) 22 * * 5</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

touch make-time-`date +%Y%m%d_%H%M`

echo &quot;************************************&quot;
echo &quot;   Android Nougat Source CleanUp    &quot;
echo &quot;************************************&quot;
rm -rf $WORKSPACE/../android_nougat_s5p4418_weekly
rm -rf $WORKSPACE/../android_nougat_s5p6818_weekly


echo &quot;************************************&quot;
echo &quot;   Android Nougat Source Download   &quot;
echo &quot;************************************&quot;
repo init -u ssh://nxJenkins@review.gerrithub.io:29418/NexellCorp/android_manifest -b nougat-dev --depth=10
sed -i &apos;s/{USER_ID}/nxJenkins/g&apos; .repo/manifests/remote_nexell_ssh.xml
repo sync
sleep 30
repo sync


echo &quot;**************************************************&quot;
echo &quot;   Android Nougat Source copy to other projects   &quot;
echo &quot;**************************************************&quot;
cp -a $WORKSPACE $WORKSPACE/../android_nougat_s5p4418_weekly
cp -a $WORKSPACE $WORKSPACE/../android_nougat_s5p6818_weekly
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>android_pie_weekly_source_setup</childProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>false</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/build_rule/build_android.rules</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.22">
      <recipients>jenkins@nexell.co.kr</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.36">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
  </buildWrappers>
</project>