<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Yocto Sumo S5p4418 daily build&#xd;
&#xd;
매주 화, 목 22:00 trigger됨.&#xd;
</description>
  <displayName>yocto_sumo_s5p4418_daily</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>5</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H(0-1) 22 * * 2,4</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo &quot;***************************************&quot;
echo &quot;   Jenkins - Yocto environment setup   &quot;
echo &quot;***************************************&quot;

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

repo sync

echo &quot;************************************&quot;
echo &quot;   Yocto Sumo s5p4418 tiny          &quot;
echo &quot;************************************&quot;
./tools/build.sh s5p4418-navi-ref tiny -c

echo &quot;************************************&quot;
echo &quot;   Yocto Sumo s5p4418 qt            &quot;
echo &quot;************************************&quot;
./tools/build.sh s5p4418-navi-ref qt -c
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cd yocto/out

echo &quot;************************************&quot;
echo &quot; unnecessary .ext4 file remove      &quot;
echo &quot;************************************&quot;
rm -rf result-s5p4418-navi-ref-tiny/*.ext4
rm -rf result-s5p4418-navi-ref-qt/*.ext4

echo &quot;************************************&quot;
echo &quot; BUILD-INFO.txt copy to result dir  &quot;
echo &quot;************************************&quot;
cp ${JENKINS_HOME}/snapshot_build_info/BUILD-INFO.txt result-s5p4418-navi-ref-tiny/
cp ${JENKINS_HOME}/snapshot_build_info/BUILD-INFO.txt result-s5p4418-navi-ref-qt/

echo &quot;************************************&quot;
echo &quot; Compress result dirs               &quot;
echo &quot;************************************&quot;
tar cvzf result-s5p4418-navi-ref-tiny.tar.gz   result-s5p4418-navi-ref-tiny/*
tar cvzf result-s5p4418-navi-ref-qt.tar.gz     result-s5p4418-navi-ref-qt/*

echo &quot;************************************&quot;
echo &quot; Rename tarballs                    &quot;
echo &quot;************************************&quot;
mv result-s5p4418-navi-ref-tiny.tar.gz     result-s5p4418-yocto-sumo-tiny-navi-ref-`date +%Y%m%d`-daily.tar.gz
mv result-s5p4418-navi-ref-qt.tar.gz       result-s5p4418-yocto-sumo-qt-navi-ref-`date +%Y%m%d`-daily.tar.gz

echo &quot;************************************&quot;
echo &quot; Rename result dirs                 &quot;
echo &quot;************************************&quot;
mv result-s5p4418-navi-ref-tiny         result-s5p4418-yocto-sumo-tiny-navi-ref-`date +%Y%m%d`-daily
mv result-s5p4418-navi-ref-qt           result-s5p4418-yocto-sumo-qt-navi-ref-`date +%Y%m%d`-daily

</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.20.1">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate plugin="publish-over@0.22">
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher plugin="publish-over-ssh@1.20.1">
              <configName>nexell-snapshot</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>s5p4418/yocto/sumo/daily</remoteDirectory>
                  <sourceFiles>yocto/out/result-*/**</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>yocto/out</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>3600</execTimeout>
                  <usePty>false</usePty>
                  <useAgentForwarding>false</useAgentForwarding>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>true</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/build_rule/build_yocto.rules</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.22">
      <recipients>jenkins@nexell.co.kr</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.tasks.BuildTrigger>
      <childProjects>yocto_sumo_s5p6818_daily</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
  </buildWrappers>
</project>