<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Yocto Sumo Source Setup&#xd;
&#xd;
매주 화, 목일 오후 10시 trigger됨.&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>TZ=Asia/Seoul
H H(9-10) * * 2,4</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo &quot;***************************************&quot;
echo &quot;   Jenkins - Yocto environment setup   &quot;
echo &quot;***************************************&quot;

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

echo &quot;************************************&quot;
echo &quot;   Yocto Sumo s5p4418 tiny          &quot;
echo &quot;************************************&quot;
./tools/build.sh s5p4418-navi-ref tiny -c


echo &quot;************************************&quot;
echo &quot;   Yocto Sumo s5p4418 qt            &quot;
echo &quot;************************************&quot;
./tools/build.sh s5p4418-navi-ref qt -c
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.22">
      <recipients>jenkins@nexell.co.kr</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>