<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Android_pie_source_setup&#xd;
&#xd;
android_nougat_daily_source_setup 후 연속으로 trigger됨.&#xd;
(매월 첫째주 토요일 02:00시 이후 trigger됨. )&#xd;
&#xd;
workspace 하위 디렉토리의 android_nougat_* 의 모든 dir 삭제 후 새로 받은 source를 copy&#xd;
&#xd;
&lt;&lt; project list &gt;&gt;&#xd;
android_pie_s5p4418_daily     --&gt; convergence svmc&#xd;
android_pie_s5p6818_daily     --&gt; avn ref&#xd;
&#xd;
소요시간 약 3시간</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

touch make-time-`date +%Y%m%d_%H%M`

echo &quot;************************************&quot;
echo &quot;   Android Nougat Source CleanUp    &quot;
echo &quot;************************************&quot;
rm -rf $WORKSPACE/../android_pie_s5p4418_daily
rm -rf $WORKSPACE/../android_pie_s5p6818_daily


echo &quot;**************************************************&quot;
echo &quot;   Android Nougat Source copy to other projects   &quot;
echo &quot;**************************************************&quot;
cp -a $WORKSPACE/../android_pie_weekly_source_setup $WORKSPACE/../android_pie_s5p4418_daily
cp -a $WORKSPACE/../android_pie_weekly_source_setup $WORKSPACE/../android_pie_s5p6818_daily
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>false</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/build_rule/build_android.rules</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.22">
      <recipients>jenkins@nexell.co.kr</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.36">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
  </buildWrappers>
</project>