<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Yocto Sumo Source Setup&#xd;
&#xd;
매주 토요일 21:00 trigger됨.&#xd;
workspace 하위 디렉토리의 yocto_sumo_* 의 모든 dir 삭제 후 새로 받은 source를 copy&#xd;
&#xd;
&lt;&lt; project list &gt;&gt;&#xd;
yocto_sumo_s5p4418_weekly&#xd;
yocto_sumo_s5p6818_weekly&#xd;
yocto_sumo_daudio-ref_weekly</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>TZ=Asia/Seoul
H(0-1) 21 * * 6</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo &quot;************************************&quot;
echo &quot;   Yocto Sumo Source CleanUp        &quot;
echo &quot;************************************&quot;
sudo rm -rf $WORKSPACE/../yocto_sumo_s5p4418_weekly
sudo rm -rf $WORKSPACE/../yocto_sumo_s5p6818_weekly
sudo rm -rf $WORKSPACE/../yocto_sumo_daudio-ref_weekly



echo &quot;************************************&quot;
echo &quot;   Yocto Sumo Source Download       &quot;
echo &quot;************************************&quot;
repo init -u ssh://nxJenkins@review.gerrithub.io:29418/NexellCorp/yocto_manifest -b yocto-sumo
sed -i &apos;s/{USER_ID}/nxJenkins/g&apos; .repo/manifests/remote_nexell_ssh.xml
repo sync



echo &quot;**********************************************&quot;
echo &quot;   Yocto Sumo Source copy to other projects   &quot;
echo &quot;**********************************************&quot;
cp -a $WORKSPACE $WORKSPACE/../yocto_sumo_s5p4418_weekly
cp -a $WORKSPACE $WORKSPACE/../yocto_sumo_s5p6818_weekly
cp -a $WORKSPACE $WORKSPACE/../yocto_sumo_daudio-ref_weekly</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.22">
      <recipients>jenkins@nexell.co.kr</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.36">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>